{
	"env": {
		"browser": true
	},
	"globals": {
		"nodecg": true,
		"Polymer": true,
		"TimelineMax": true,
		"TimelineLite": true,
		"TweenLite": true,
		"TweenMax": true,
		"Linear": true,
		"Power1": true,
		"Power2": true,
		"Power3": true,
		"Power4": true,
		"Elastic": true,
		"Back": true,
		"Sine": true,
		"textFit": true,
		"createjs": true
	}
}
