@import 'base.css';

body {
	font-family: 'Source Code Pro';
}

#container {
	position: relative;
	width: 1600px;
	height: 845px;
}

#container > #background,
#container > #foreground,
#container > #addon {
	position: absolute;
	top: 0;
	left: 0;
}

#container > #background {
	z-index: -10;
}

#container > #foreground {
	pointer-events: none;
	z-index: 10;
}

#container > #addon {
	pointer-events: none;
	z-index: -11;
}

#measuring {
	position: absolute;
	width: 200px;
	height: 150px;
	background-color: #464646;
	z-index: -100;
}
